---
import type { News } from '@prisma/client';

interface NewsCardProps {
  news: News;
}

const { news } = Astro.props as NewsCardProps;
---

<a
  href={`/uutiset/${news.slug}#main`}
  rel="prefetch"
  class="relative flex flex-col overflow-hidden rounded-lg shadow-lg ring-1 ring-black/5 transition-transform hover:scale-105"
>
  {
    news.draft && (
      <div class="absolute -right-10 top-4 rotate-45 bg-blue-600 px-10 py-2 text-sm font-semibold text-white">
        Luonnos
      </div>
    )
  }
  <img
    class="h-48 w-full object-cover"
    src={news.cardImage || '/images/hero-placeholder.webp'}
    alt=""
    aria-hidden
  />
  <div class="flex-1 bg-white p-6">
    <div class="text-sm text-gray-500">
      <span class="text-sm font-medium text-blue-600">
        {news.author}
      </span>
      <span aria-hidden="true"> &middot;</span>
      <time datetime={news.publishedAt.toLocaleDateString('sv')}>
        {
          news.publishedAt.toLocaleDateString('fi', {
            dateStyle: 'long',
          })
        }
      </time>
    </div>

    <p class="mt-2 text-xl font-semibold text-gray-900">
      {news.title}
    </p>
    <p class="mt-3 text-ellipsis text-base text-gray-500">
      {
        `${news.leadParagraph.slice(0, 150)}${
          news.leadParagraph.length > 150 ? '...' : ''
        }`
      }
    </p>
  </div>
</a>
