---
import { Icon } from 'astro-icon';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <link rel="preload" as="image" href="/images/contacts.webp" />
    <title>Laitilan Jyske - Yleisurheilu | 403</title>
    <meta name="robots" content="noindex" />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <div
      class="relative flex flex-col items-center justify-center pt-16 pb-32 text-center text-white sm:pt-24 sm:pb-40 md:pb-48 lg:pt-36 xl:pt-44 xl:pb-52"
    >
      <h1
        class="flex flex-col items-center text-2xl sm:flex-row sm:text-3xl md:text-4xl"
      >
        <Icon
          class="mb-6 mr-4 h-12 w-12 sm:mb-0"
          pack="codicon"
          name="search-stop"
        />
        Sivua ei löytynyt
      </h1>
      <p class="mt-10 px-6">Tarkista sivun oikeinkirjoitus</p>
    </div>
  </Fragment>
</Layout>
