---
import HelloWorldReact from '../components/HelloWorldReact';
import Layout from '../layouts/Layout.astro';
import prisma from '../lib/prisma';

const postsCount = await prisma.post.count();
---

<Layout title="Laitilan Jyske Yleisurheilu">
  <main class="m-auto p-4 max-w-3xl">
    <h1
      class="text-6xl leading-tight bg-gradient-to-b from-blue-700 to-pink-400 bg-clip-text text-transparent font-black text-gradient"
    >
      Laitilan Jyske Yleisurheilu
    </h1>
    <p
      class="leading-7 my-4 bg-indigo-700 p-4 rounded-md instructions text-neutral-200"
    >
      There is {postsCount} post(s) in the DB
    </p>
    <p>Hello from Astro Tailwind component</p>
    <HelloWorldReact />
  </main>
</Layout>
