---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <title>Laitilan Jyske | Yleisurheilu</title>
    <meta property="og:title" content="Etusivu" />
    <meta
      name="description"
      content="Tutustu Laitilan Jyskeen yleisurheilujaoston kotisivuihin."
    />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, etusivu"
    />
    <meta
      property="og:image"
      content={new URL('/images/frontpage.jpg', Astro.url)}
    />
    <meta
      property="og:description"
      content="Tutustu Laitilan Jyskeen yleisurheilujaoston kotisivuihin."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover lg:object-[100%_35%] xl:object-[100%_30%] 2xl:object-[100%_25%]"
      src="/images/frontpage.jpg"
      alt="Yhteenkuuluvuuden tunnetta"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Laitilan Jyske
      <span class="hidden lg:inline">-</span>
      <span class="mt-1 block md:mt-2 lg:mt-0 lg:inline">Yleisurheilu</span>
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <!-- TOP BANNER CALL-TO-ACTION -->
    <section class="bg-blue-700 shadow-md shadow-blue-900">
      <div
        class="mx-auto flex max-w-7xl flex-col items-center justify-between py-5 px-4 font-medium sm:px-6 md:flex-row md:py-3 lg:px-8"
      >
        <div
          class="flex w-full flex-1 flex-col items-center text-white md:w-0 md:flex-row"
        >
          <span class="rounded-lg bg-blue-800 p-2">
            <Icon name="speaker" class="h-6 w-6" />
          </span>
          <p
            class="mt-3 mb-5 ml-3 flex-1 text-center md:my-0 md:truncate md:text-left"
          >
            Syysmoniottelut 24.-25. syyskuuta klo 18:00 alkaen Laitilassa.
          </p>
        </div>
        <a
          href="/"
          class="rounded-md bg-white px-4 py-2 text-sm text-blue-700 shadow-sm hover:bg-blue-50 md:ml-4"
        >
          Lisätietoa
        </a>
      </div>
    </section>

    <!-- SOSIAALISET MEDIAT CALL-TO-ACTION -->
    <section class="mx-auto max-w-7xl py-16 px-4">
      <h2
        class="text-center text-lg font-semibold text-gray-600 md:text-xl lg:text-2xl"
      >
        Seuraa meitä sosiaalisessa mediassa
      </h2>
      <div
        class="mt-6 grid grid-cols-4 justify-center gap-0.5 sm:grid-cols-3 md:mt-8"
      >
        <a
          href="https://chat.whatsapp.com/C4T97CG5hZd69TG1b6gNt6"
          target="_blank"
          class="col-span-2 flex items-center justify-center bg-slate-100 p-8 grayscale transition-all duration-500 hover:bg-slate-200 hover:grayscale-0 sm:col-auto"
        >
          <span class="sr-only">WhatsApp</span>
          <Icon name="whatsapp-with-name" class="max-h-12" />
        </a>
        <a
          href="https://www.instagram.com/laitilanjyskeyleisurheilu/"
          target="_blank"
          class="col-span-2 flex items-center justify-center bg-slate-100 p-8 grayscale transition-all duration-500 hover:bg-slate-200 hover:grayscale-0 sm:col-auto"
        >
          <span class="sr-only">Instagram</span>
          <Icon name="instagram-with-name" class="max-h-12" />
        </a>
        <a
          href="https://www.facebook.com/laitilanjyskeyu/"
          target="_blank"
          class="col-start-2 col-end-4 flex items-center justify-center bg-slate-100 p-8 grayscale transition-all duration-500 hover:bg-slate-200 hover:grayscale-0 sm:col-auto"
        >
          <span class="sr-only">Facebook</span>
          <Icon name="facebook-find-us" class="max-h-12" />
        </a>
      </div>
    </section>

    <!-- TAPAHTUMAT CALL-TO-ACTION -->
    <section class="bg-blue-700 shadow shadow-black">
      <div class="py-16 px-4 text-center sm:py-20">
        <h2
          class="text-lg font-medium leading-snug tracking-wide text-white lg:text-xl"
        >
          Etsitkö lapsellesi monipuolista, innostavaa ja liikunnallista
          harrastusta?
        </h2>
        <a
          href="/tapahtumat"
          rel="prefetch"
          class="mt-10 inline-block rounded-md bg-red-700 px-6 py-3 text-sm font-medium text-white shadow-lg shadow-blue-900 hover:bg-red-800 sm:text-base md:mt-12 lg:mt-14 lg:text-lg"
        >
          Ilmoittaudu harjoituksiin
        </a>
      </div>
    </section>
  </Fragment>
</Layout>
