---
import { ReactComponent as WhatsApp } from '../assets/whatsapp_with_name.svg';
import { ReactComponent as Instagram } from '../assets/instagram_with_name.svg';
import { ReactComponent as Facebook } from '../assets/facebook_find_us_on.svg';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Laitilan Jyske | Yleisurheilu" heroImage="/images/frontpage.jpg">
  <main class="bg-slate-50">
    <div class="bg-blue-800 shadow shadow-black">
      <div class="text-center py-16 px-4 sm:py-20">
        <h2
          class="text-lg md:text-xl lg:text-2xl tracking-wide leading-snug font-semibold text-white"
        >
          Etsitkö lapsellesi monipuolista, innostavaa ja liikunnallista
          harrastusta?
        </h2>
        <a
          href="/tapahtumat"
          rel="prefetch"
          class="inline-block shadow-lg shadow-blue-900 mt-10 md:mt-12 lg:md-14 px-5 py-2 md:text-lg lg:text-xl font-medium rounded-md text-white bg-red-700 hover:bg-red-800"
        >
          Ilmoittaudu harjoituksiin
        </a>
      </div>
    </div>
    <div class="max-w-7xl mx-auto py-16 px-4">
      <h2
        class="text-center text-lg md:text-xl lg:text-2xl font-semibold text-gray-600"
      >
        Seuraa meitä sosiaalisessa mediassa
      </h2>
      <div
        class="mt-6 md:mt-8 grid grid-cols-4 sm:grid-cols-3 justify-center gap-0.5"
      >
        <a
          href="https://chat.whatsapp.com/C4T97CG5hZd69TG1b6gNt6"
          target="_blank"
          class="col-span-2 sm:col-auto flex items-center justify-center py-8 px-8 bg-slate-50 hover:bg-slate-100 grayscale hover:grayscale-0 transition-all duration-500"
        >
          <span class="sr-only">WhatsApp</span>
          <WhatsApp className="max-h-12" />
        </a>
        <a
          href="https://www.instagram.com/laitilanjyskeyleisurheilu/"
          target="_blank"
          class="col-span-2 sm:col-auto flex items-center justify-center py-8 px-8 bg-slate-50 hover:bg-slate-100 grayscale hover:grayscale-0 transition-all duration-500"
        >
          <span class="sr-only">Instagram</span>
          <Instagram className="max-h-12" />
        </a>
        <a
          href="https://www.facebook.com/laitilanjyskeyu/"
          target="_blank"
          class="col-start-2 col-end-4 sm:col-auto flex items-center justify-center py-8 px-8 bg-slate-50 hover:bg-slate-100 grayscale hover:grayscale-0 transition-all duration-500"
        >
          <span class="sr-only">Facebook</span>
          <Facebook className="max-h-12" />
        </a>
      </div>
    </div>
  </main>
</Layout>
