---
import Layout from '@layouts/Layout.astro';
import supabaseClient from '@lib/supabaseClient';
import Icon from 'astro-icon';
import PaginationNav from '@fragments/PaginationNav.astro';

const PAGE_SIZE = 12;
const currentPage = Number(Astro.url.searchParams.get('sivu') || 1);
const { data: files } = await supabaseClient.storage
  .from('files')
  .list('results', { sortBy: { column: 'name', order: 'desc' } });
const pageCount = Math.ceil((files?.length || 1) / PAGE_SIZE);
const filesForPage = files?.slice(
  (currentPage - 1) * PAGE_SIZE,
  currentPage * PAGE_SIZE
);
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <link rel="preload" as="image" href="/images/news.webp" />
    <title>Laitilan Jyske - Yleisurheilu | Tulokset</title>
    <meta property="og:title" content="Tulokset" />
    <meta
      name="description"
      content="Tuloksia Laitilan Jyskeen järjestämistä kilpailuista."
    />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, tulokset"
    />
    <meta
      property="og:image"
      content={new URL('/images/news.webp', Astro.url)}
    />
    <meta
      property="og:description"
      content="Tuloksia Laitilan Jyskeen järjestämistä kilpailuista."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover object-[100%_35%] lg:object-[100%_30%] xl:object-[100%_25%]"
      src="/images/news.webp"
      alt="Seuran vakiotoimitsijat ajanotossa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Tulokset
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <section
      class="mx-auto my-8 max-w-7xl px-4 sm:my-12 sm:px-8 lg:my-16 lg:px-12"
    >
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Tulokset
        </h2>
        <p class="mt-3 text-xl text-gray-500 sm:mt-4">
          Tuloksia Laitilan Jyskeen järjestämistä kilpailuista
        </p>
      </div>
      <div
        class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3"
      >
        {
          filesForPage?.map((file) => (
            <a
              download
              target="_blank"
              href={`${
                import.meta.env.PUBLIC_SUPABASE_URL
              }/storage/v1/object/public/files/results/${file.name}`}
              class="flex items-center rounded-lg bg-white p-6 shadow ring-1 ring-black/5 transition-transform hover:scale-105"
            >
              <Icon
                class="h-7 w-7 text-blue-700"
                pack="akar-icons"
                name="file"
              />
              <div class="ml-3 flex flex-col">
                <span class="font-medium text-blue-700">
                  {file.name.split('__')[1]}
                </span>
                <time class="text-sm first-letter:uppercase">
                  {new Date(file.name.slice(0, 10)).toLocaleDateString('fi', {
                    timeZone: 'Europe/Helsinki',
                    dateStyle: 'full',
                  })}
                </time>
              </div>
            </a>
          ))
        }
      </div>
      <PaginationNav
        url="/tulokset"
        pageCount={pageCount}
        currentPage={currentPage}
      />
    </section>
  </Fragment>
</Layout>
