---
import { Icon } from 'astro-icon';
import Layout from '@layouts/Layout.astro';
import contacts from '@data/contacts';
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <link rel="preload" as="image" href="/images/contacts.webp" />
    <title>Laitilan Jyske - Yleisurheilu | Yhteystiedot</title>
    <meta property="og:title" content="Yhteystiedot" />
    <meta
      name="description"
      content="Ota yhteyttä yhteystietojen tai lomakkeen avulla."
    />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, yhteystiedot"
    />
    <meta
      property="og:image"
      content={new URL('/images/contacts.webp', Astro.url)}
    />
    <meta
      property="og:description"
      content="Ota yhteyttä yhteystietojen tai lomakkeen avulla."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover lg:object-[100%_35%] xl:object-[100%_30%] 2xl:object-[100%_25%]"
      src="/images/contacts.webp"
      alt="Seuran puheenjohtaja Pekka Kuusisto toimitsijana"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Yhteystiedot
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <!-- CONTACT CARD -->
    <section
      class="mx-auto my-8 max-w-7xl px-4 sm:my-12 sm:px-8 lg:my-16 lg:px-12"
    >
      <div class="grid grid-cols-1 bg-white shadow-xl lg:grid-cols-3">
        <!-- CONTACT INFO -->
        <div
          class="relative overflow-hidden bg-gradient-to-b from-blue-600 to-blue-700 py-10 px-6 sm:px-10 xl:p-12"
        >
          <!-- DECORATION FOR MOBILES -->
          <Icon
            name="angle-sm"
            class="pointer-events-none absolute inset-0 h-full w-full sm:hidden"
          />
          <!-- DECORATION FOR TABLETS -->
          <Icon
            name="angle-md"
            class="pointer-events-none absolute inset-y-0 right-0 hidden h-full w-1/2 sm:block lg:hidden"
          />
          <!-- DECORATION FOR LAPTOPS -->
          <Icon
            name="angle-lg"
            class="pointer-events-none absolute inset-y-0 right-0 hidden w-1/2 lg:block"
          />

          <!-- CONTACT INFO DESCRIPTION -->
          <h3 class="text-lg font-medium text-white">Seuran yhteystiedot</h3>
          <p class="mt-4 text-blue-50">
            Ota yhteyttä tältä sivulta löytyvien yhteystietojen tai oheisen
            lomakkeen avulla.
          </p>
          <p class="mt-4 text-blue-50">
            Voit myös seurata seuran WhatsApp-tiedotusryhmää ja muita
            sosiaalisia medioita pysyäksesi ajan tasalla seuran tapahtumista.
          </p>

          <!-- CONTACT INFO DETAILS -->
          <h4 class="mt-6 font-medium text-white">Yleisurheilujaosto</h4>
          <dl class="mt-2 space-y-3 text-blue-50">
            <dt><span class="sr-only">Postiosoite</span></dt>
            <dd class="flex">
              <Icon name="home" class="h-6 w-6 shrink-0 text-blue-200" />
              <span class="ml-3">Haaparinne 4, 23800 Laitila</span>
            </dd>
            <dt><span class="sr-only">Email</span></dt>
            <dd class="flex">
              <Icon name="mail" class="h-6 w-6 shrink-0 text-blue-200" />
              <span class="ml-3 hover:text-white hover:underline"
                ><a href="mailto:laitilan.jyske@lailanet.fi"
                  >laitilan.jyske@lailanet.fi
                </a>
              </span>
            </dd>
          </dl>

          <!-- CONTACT INFO SOCIAL MEDIA -->
          <ul class="mt-12 flex items-end gap-6">
            <li>
              <a
                href="https://chat.whatsapp.com/C4T97CG5hZd69TG1b6gNt6"
                target="_blank"
                class="text-blue-200 hover:text-blue-100"
              >
                <span class="sr-only">WhatsApp</span>
                <Icon name="whatsapp" class="h-7 w-auto" />
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/laitilanjyskeyleisurheilu/"
                target="_blank"
                class="text-blue-200 hover:text-blue-100"
              >
                <span class="sr-only">Instagram</span>
                <Icon name="instagram" class="h-7 w-auto" />
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/laitilanjyskeyu/"
                target="_blank"
                class="text-blue-200 hover:text-blue-100"
              >
                <span class="sr-only">Facebook</span>
                <Icon name="facebook" class="h-7 w-auto" />
              </a>
            </li>
          </ul>
        </div>

        <!-- CONTACT FORM -->
        <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
          <h3 class="text-lg font-medium text-gray-900">Lähetä viesti</h3>
          <form
            action="#"
            method="POST"
            class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
          >
            <!-- FIRST NAME -->
            <div>
              <label class="block text-sm font-medium text-gray-700"
                >Etunimi
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="first-name"
                    autocomplete="given-name"
                    class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>
            </div>

            <!-- LAST NAME -->
            <div>
              <label class="block text-sm font-medium text-gray-700"
                >Sukunimi
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="last-name"
                    autocomplete="family-name"
                    class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>
            </div>

            <!-- EMAIL -->
            <div>
              <label class="block text-sm font-medium text-gray-700"
                >Sähköposti
                <div class="mt-1">
                  <input
                    required
                    name="email"
                    type="email"
                    autocomplete="email"
                    class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>
            </div>

            <!-- PHONE NUMBER -->
            <div>
              <label class="block text-sm font-medium text-gray-700">
                <div class="flex justify-between">
                  Puhelinnumero
                  <span id="phone-optional" class="text-sm text-gray-500"
                    >Valinnainen
                  </span>
                </div>
                <div class="mt-1">
                  <input
                    type="text"
                    name="phone"
                    autocomplete="tel"
                    class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                    aria-describedby="phone-optional"
                  />
                </div>
              </label>
            </div>

            <!-- SUBJECT -->
            <div class="sm:col-span-2">
              <label
                for="subject"
                class="block text-sm font-medium text-gray-700"
                >Aihe
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="subject"
                    id="subject"
                    class="block w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>
            </div>

            <!-- MESSAGE -->
            <div class="sm:col-span-2">
              <label
                for="message"
                class="block text-sm font-medium text-gray-700"
                >Viesti
                <div class="mt-1">
                  <textarea
                    id="message"
                    name="message"
                    rows="4"
                    class="block w-full rounded-md border border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  ></textarea>
                </div>
              </label>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="sm:col-span-2 sm:flex sm:justify-end">
              <button
                type="submit"
                class="mt-2 w-full rounded-md bg-blue-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto"
                >Lähetä
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- MEMBERS INFO SECTION -->
    <section
      class="mx-auto my-8 max-w-7xl px-4 sm:my-12 sm:px-8 lg:my-16 lg:px-12"
    >
      <!-- MEMBERS INFO DESCRIPTION -->
      <h2 class="text-xl font-medium leading-6 text-gray-900">
        Yleisurheilujaoston jäsenet
      </h2>
      <p class="mt-2 max-w-4xl border-b border-gray-200 pb-5 text-gray-600">
        Oheisesta taulukosta löydät yleisurheilujaoston jäsenten yhteystiedot.
      </p>

      <!-- MEMBERS CONTACTS TABLE -->
      <div
        class="my-8 overflow-x-auto text-left text-sm shadow ring-1 ring-black/5 md:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-300 bg-slate-50">
          <!-- MEMBERS TABLE HEAD -->
          <thead class="bg-blue-600 font-semibold text-white">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3">Nimi</th>
              <th scope="col" class="py-3.5 px-3">Tehtävä</th>
              <th scope="col" class="py-3.5 px-3">Sähköposti</th>
              <th scope="col" class="py-3.5 px-3">Puhelinnumero</th>
            </tr>
          </thead>

          <!-- MEMBERS TABLE BODY -->
          <tbody
            class="divide-y divide-gray-200 whitespace-nowrap text-gray-700"
          >
            {
              contacts.map(({ name, title, email, phone }) => (
                <tr class="hover:bg-white">
                  <th
                    scope="row"
                    class="py-4 pl-4 pr-3 font-medium text-gray-900"
                  >
                    {name}
                  </th>
                  <td class="py-4 px-3">{title ? title : '-'}</td>
                  <td class="py-4 px-3">
                    <a
                      class="hover:text-gray-900 hover:underline"
                      href={`mailto:${email}`}
                    >
                      {email}
                    </a>
                  </td>
                  <td class="py-4 px-3">{phone}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </section>
  </Fragment>
</Layout>
