---
import contacts from '../data/contacts';
---

<table class="min-w-full divide-y divide-gray-300 bg-slate-50">
  <thead class="bg-blue-500 text-white text-left text-sm font-semibold">
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3">Nimi</th>
      <th scope="col" class="py-3.5 px-3">Tehtävä</th>
      <th scope="col" class="py-3.5 px-3">Sähköposti</th>
      <th scope="col" class="py-3.5 px-3">Puhelinnumero</th>
    </tr>
  </thead>
  <tbody
    class="divide-y divide-gray-200 whitespace-nowrap text-sm text-gray-700"
  >
    {
      contacts.map(({ name, title, email, phone }) => (
        <tr class="hover:bg-white">
          <td scope="col" class="py-4 pl-4 pr-3 font-medium text-gray-900">
            {name}
          </td>
          <td scope="col" class="py-4 px-3">
            {title ? title : '-'}
          </td>
          <td scope="col" class="py-4 px-3">
            <a
              class="hover:text-gray-900 hover:underline"
              href={`mailto:${email}`}
            >
              {email}
            </a>
          </td>
          <td scope="col" class="py-4 px-3">
            {phone}
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
