<form
  action="#"
  method="POST"
  class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
>
  <div>
    <label for="first-name" class="block text-sm font-medium text-gray-700"
      >Etunimi
    </label>
    <div class="mt-1">
      <input
        required
        type="text"
        name="first-name"
        id="first-name"
        autocomplete="given-name"
        class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
      />
    </div>
  </div>
  <div>
    <label for="last-name" class="block text-sm font-medium text-gray-700"
      >Sukunimi
    </label>
    <div class="mt-1">
      <input
        required
        type="text"
        name="last-name"
        id="last-name"
        autocomplete="family-name"
        class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
      />
    </div>
  </div>
  <div>
    <label for="email" class="block text-sm font-medium text-gray-700"
      >Sähköposti
    </label>
    <div class="mt-1">
      <input
        required
        id="email"
        name="email"
        type="email"
        autocomplete="email"
        class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
      />
    </div>
  </div>
  <div>
    <div class="flex justify-between">
      <label for="phone" class="block text-sm font-medium text-gray-700"
        >Puhelinnumero
      </label>
      <span id="phone-optional" class="text-sm text-gray-500">Valinnainen</span>
    </div>
    <div class="mt-1">
      <input
        type="text"
        name="phone"
        id="phone"
        autocomplete="tel"
        class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
        aria-describedby="phone-optional"
      />
    </div>
  </div>
  <div class="sm:col-span-2">
    <label for="subject" class="block text-sm font-medium text-gray-700"
      >Aihe
    </label>
    <div class="mt-1">
      <input
        required
        type="text"
        name="subject"
        id="subject"
        class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
      />
    </div>
  </div>
  <div class="sm:col-span-2">
    <label for="message" class="block text-sm font-medium text-gray-700"
      >Viesti
    </label>
    <div class="mt-1">
      <textarea
        id="message"
        name="message"
        rows="4"
        class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border border-gray-300 rounded-md"
      ></textarea>
    </div>
  </div>
  <div class="sm:col-span-2 sm:flex sm:justify-end">
    <button
      type="submit"
      class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:w-auto"
      >Lähetä
    </button>
  </div>
</form>
