---
import { Icon } from 'astro-icon';
---

<div
  class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-blue-500 to-blue-600 sm:px-10 xl:p-12"
>
  <Icon
    name="angle-sm"
    class="sm:hidden absolute inset-0 w-full h-full pointer-events-none"
  />
  <Icon
    name="angle-md"
    class="hidden sm:block lg:hidden absolute top-0 right-0 bottom-0 w-1/2 h-full pointer-events-none"
  />
  <Icon
    name="angle-lg"
    class="hidden lg:block absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none"
  />
  <h3 class="text-lg font-medium text-white">
    Yleisurheilujaoston yhteystiedot
  </h3>
  <p class="mt-6 text-blue-50">
    Ota yhteyttä tältä sivulta löytyvien yhteystietojen tai oheisen lomakkeen
    avulla.
  </p>
  <p class="mt-6 text-blue-50">
    Voit myös seurata seuran WhatsApp-tiedotusryhmää ja muita sosiaalisia
    medioita pysyäksesi ajan tasalla seuran tapahtumista.
  </p>
  <dl class="mt-10 space-y-3 text-blue-50">
    <dt><span class="sr-only">Postiosoite</span></dt>
    <dd class="flex">
      <Icon name="home" class="flex-shrink-0 w-6 h-6 text-blue-200" />
      <span class="ml-3">Haaparinne 4, 23800 Laitila</span>
    </dd>
    <dt><span class="sr-only">Email</span></dt>
    <dd class="flex">
      <Icon name="mail" class="flex-shrink-0 w-6 h-6 text-blue-200" />
      <span class="ml-3 hover:text-white hover:underline"
        ><a href="mailto:laitilan.jyske@lailanet.fi"
          >laitilan.jyske@lailanet.fi
        </a>
      </span>
    </dd>
  </dl>
  <ul role="list" class="mt-12 flex items-end gap-6">
    <li>
      <a
        href="https://chat.whatsapp.com/C4T97CG5hZd69TG1b6gNt6"
        target="_blank"
        class="text-blue-200 hover:text-blue-100"
      >
        <span class="sr-only">WhatsApp</span>
        <Icon name="whatsapp" class="h-7 w-auto" />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/laitilanjyskeyleisurheilu/"
        target="_blank"
        class="text-blue-200 hover:text-blue-100"
      >
        <span class="sr-only">Instagram</span>
        <Icon name="instagram" class="h-7 w-auto" />
      </a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/laitilanjyskeyu/"
        target="_blank"
        class="text-blue-200 hover:text-blue-100"
      >
        <span class="sr-only">Facebook</span>
        <Icon name="facebook" class="h-7 w-auto" />
      </a>
    </li>
  </ul>
</div>
