---
import Layout from '@layouts/Layout.astro';
import { EventCalendar } from '@components';
import PrismaEvent from '@models/event';
import { getMonthEndDate, getMonthStartDate } from '@utils/dates';

const searchParams = Astro.url.searchParams;
const queryYear = searchParams.get('vuosi');
const queryMonth = searchParams.get('kuukausi');
const currentYear = new Date().getFullYear();
const currentMonth = new Date().getMonth();
const year = Number(queryYear || currentYear);
const month = Number(queryMonth || currentMonth + 1) - 1;
const startDate = getMonthStartDate(year, month);
const endDate = getMonthEndDate(year, month);
const events = await PrismaEvent.findAllBetweenStartDateAndEndDate(
  startDate,
  endDate
);
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <title>Laitilan Jyske | Yleisurheilu | Tapahtumat</title>
    <meta property="og:title" content="Tapahtumat" />
    <meta
      name="description"
      content="Osallistu Laitilan Jyskeen yleisurheilujaoston järjestämiin harjoituksiin tai Varsinais-Suomessa järjestettäviin kilpailuihin."
    />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, etusivu"
    />
    <meta
      property="og:image"
      content={new URL('/images/events.jpg', Astro.url)}
    />
    <meta
      property="og:description"
      content="Osallistu Laitilan Jyskeen yleisurheilujaoston järjestämiin harjoituksiin tai Varsinais-Suomessa järjestettäviin kilpailuihin."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover"
      src="/images/events.jpg"
      alt="Juoksumatka Seuracup-kilpailussa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Tapahtumat
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <!-- CALENDAR -->
    <section
      class="mx-auto my-6 max-w-7xl px-4 sm:my-12 sm:px-8 lg:my-16 lg:flex lg:flex-col lg:px-12"
    >
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Tapahtumakalenteri
        </h2>
        <p class="mx-auto mt-3 max-w-3xl text-xl text-gray-500 sm:mt-4">
          Löydä seuraava tapahtuma, johon voit osallistua. Punaisella värillä
          merkatut tapahtumat ovat kilpailuja ja sinisellä merkatut
          harjoituksia.
        </p>
      </div>
      <EventCalendar client:load year={year} month={month} events={events} />
    </section>
  </Fragment>
</Layout>
