---
import { Icon } from 'astro-icon';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Yleisurheilulla menestyksekäs kausi">
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <link rel="preload" as="image" href="/images/news.webp" />
    <title>Laitilan Jyske | Yleisurheilu | Uutiset</title>
    <meta property="og:title" content="Uutiset" />
    <meta name="description" content="Lue tuoreimmat yleisurheilu-uutiset." />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, uutiset"
    />
    <meta
      property="og:image"
      content={new URL('/images/news.webp', Astro.url)}
    />
    <meta
      property="og:description"
      content="Lue tuoreimmat yleisurheilu-uutiset."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover object-[100%_35%] lg:object-[100%_30%] xl:object-[100%_25%]"
      src="/images/news.webp"
      alt="Seuran vakiotoimitsijat ajanotossa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Uutiset
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <div class="relative overflow-hidden py-16">
      <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full">
        <div class="relative mx-auto h-full max-w-prose" aria-hidden="true">
          <Icon
            name="dot-grid"
            width={404}
            class="absolute top-12 left-full translate-x-32 text-blue-200"
          />
          <Icon
            name="dot-grid"
            width={404}
            class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 text-blue-200"
          />
          <Icon
            name="dot-grid"
            width={404}
            class="absolute bottom-12 left-full translate-x-32"
          />
        </div>
      </div>
      <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-prose text-center text-lg">
          <h1
            class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl"
          >
            Yleisurheilulla menestyksekäs kausi
          </h1>
          <div class="mt-3 text-lg text-gray-500 sm:mt-4 sm:text-xl">
            <span class="font-medium text-blue-600"> Ilkka Simola</span>
            <span aria-hidden="true"> &middot;</span>
            <time datetime="2021-11-11">11 marraskuuta 2021</time>
          </div>
          <p class="mt-8 text-lg leading-8 text-gray-600 sm:text-xl">
            Jyskeen yleisurheiluväki palasi yhden koronasta johtuvan
            evakkovuoden jälkeen palkitsemistilaisuuteensa Louhenlinnaan. Tutun
            juhlapaikan ohella tuttua oli myös kauden yleisurheilumenestys.
            Avaussanat lausunut jaoston puheenjohtaja Pekka Kuusisto saattoikin
            hyvillä mielin todeta kauden olleen taas totutun menestyksekäs niin
            kilpailusaavutusten kuin järjestettyjen kilpailujenkin osalta.
          </p>
        </div>
        <div class="prose prose-blue mx-auto mt-6 text-lg text-gray-600">
          <figure>
            <img
              class="w-full rounded-lg"
              src="/images/paattajaiset.jpg"
              alt="Palkintopöytä"
            />
            <figcaption>
              📷 Kari Raiskinmäki. Palkittavia oli jälleen runsaasti, ja
              palkintopöydällä oli monenlaisia pokaaleja ja palkintoja.
            </figcaption>
          </figure>
          <p>
            Valioluokka eli nykyterminologialla Ykkösliigan asema saavutettiin
            nyt 11. kerran peräkkäin. Näin toiminta on jatkunut vakaalla
            korkealla tasolla seurahistorian pisimmän yhtämittaisen ajan.
            Valtakunnallinen sijaluku jopa parani yhdellä ollen nyt 46.
            Varsinais-Suomen piirin seuroista edelle yltivät vain Turun
            Urheiluliitto, Someron Esa, Naantalin Löyly ja Turun Weikot.
            Vakka-Suomen lähiseuroista kovassa nousussa oleva Kalannin Vankka
            löytyy kakkosliigasta kokonaissijaluvulta 88 ja Uudenkaupungin
            Kenttäkarhut sijalta 109 Suomen 342 luokitellun seuran listalta.
          </p>
          <p>
            Sen sijaan nuorisotoiminnan tasoa mittaavassa Varsinais-Suomen
            piirin seurojen keskinäisessä Topline-kilpailussa tuli hienoinen
            notkahdus sijaluvun pudotessa jo vakiintuneesta neljästä
            seitsemänteen. Edellä pitkään olleiden Turun Urheiluliiton,
            Naantalin Löylyn ja Raision Kuulan lisäksi isomman pistesaaliin
            pm-kisoista keräsivät myös Liedon Parma, Kalannin Vankka ja Salon
            Vilpas tässä jo neljä vuosikymmentä käydyssä piirin seurojen alle
            15-vuotiaiden toimintaa mittaavassa yli 30 seuran kisassa. Piste-ero
            edelle menneisiin seuroihin oli niin pieni, että muutaman
            lisäedustajan osanotolla pm-kisoihin asemat olisi säilytetty.
            Tulipahan tavoitetta ensi kaudelle.
          </p>
          <h2>Seuracupmenestys Jatkui</h2>
          <p>
            Kauden kilpailullisena kohokohtana oli valtakunnallisen Seuracupin
            A-finaalin järjestäminen Laitilassa. Vaikka kakkossija kotikentällä
            saattoi tuntua aluksi pettymykseltä kahden edeltävän vuoden
            murskavoittojen jälkeen niin kyseessä on kuitenkin erinomaisen hieno
            saavutus seuran ollessa viidettä vuotta peräkkäin finaalin kolmen
            parhaan joukossa tässä 11-17 -ikäluokkien alle 10 000 asukkaan
            paikkakuntien seurojen paremmuutta mittaavassa kisassa.
            Lisäbonuksena Jyskeelle tuli kehut loistavista kisajärjestelyistä.
          </p>
          <figure>
            <img
              class="w-full rounded-lg"
              src="/images/seuracup.jpg"
              alt="Seuracup-joukkuekuva"
            />
            <figcaption>
              📷 Heidi Lockmer. Kotikentällä kisailtu valtakunnallisen Pohjola
              Seuracupin A-sarjan finaali oli kauden ehdoton kohokohta. Kuvassa
              Jyskeen hopealle sijoittunut joukkue.
            </figcaption>
          </figure>
          <h2>Viisi SM-Mitalia</h2>
          <p>
            SM-mitaleja saavutettiin viisi. <strong>Venla Laiho</strong> uusi hopeansa
            kevään maantiekävelyissä Urjalassa. Mitaliketju jatkui Kokkolassa 15-sarjojen
            kisoissa <strong>Valtteri Valtosen</strong> pukatessa kuulassa kakkoseksi
            ja <strong>Aada Vuoriahon</strong> heittäessä moukarinsa pronssilukemiin.
            Hyvinkäällä <strong>Verna Vuorela</strong> otti pronssia N16 100 metrin
            aitajuoksussa ja kauden päätteeksi naisten kävelyjoukkue Venla Laiho
            - <strong>Jonna Voronkoff</strong> - <strong>Maria Antola</strong> palasi
            parin välivuoden jälkeen mitalikantaan 3 x 3000 metrin pronssillaan
          </p>
          <p>
            Lajeissaan kahdeksan parhaan joukkoon SM-tasolla sijoittuivat myös
            <strong>Ilmari Vuorela</strong>, <strong>Akseli Hyytiä</strong> ja <strong
              >Elias Hyytiä
            </strong> sekä <strong>Lotta Metsärinta</strong> ja N17-pikaviesti- ja
            aitajoukkueet, joissa Vernan ja Lotan ohella vauhdista vastasivat <strong
              >Carolina Grönroos
            </strong>, <strong>Aamu Airisto</strong> ja <strong
              >Kiia Ihanmäki
            </strong>. Kaikkiaan 16 sijoitusta kärkikahdeksikossa ylitti
            tavoitteen.
          </p>
        </div>
      </div>
    </div>
  </Fragment>
</Layout>
