---
import { getUser } from "@astro-auth/core";
import { CreateNews } from "@components";
import Layout from "@layouts/Layout.astro";
import { PrismaNews } from "@models";
import PaginationNav from "@fragments/PaginationNav.astro";
import NewsCard from "@fragments/NewsCard.astro";

const includeDrafts = Boolean(getUser({ client: Astro }));
const currentPage = Number(Astro.url.searchParams.get("sivu") || 1);
const pageCount = await PrismaNews.countPages({ includeDrafts });
const newsArray = await PrismaNews.findNewsForPage(currentPage, {
  includeDrafts,
});
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <link rel="preload" as="image" href="/images/news.webp" />
    <title>Laitilan Jyske - Yleisurheilu | Uutiset</title>
    <meta property="og:title" content="Uutiset" />
    <meta name="description" content="Lue tuoreimmat yleisurheilu-uutiset." />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, uutiset"
    />
    <meta
      property="og:image"
      content={new URL("/images/news.webp", Astro.url)}
    />
    <meta
      property="og:description"
      content="Lue tuoreimmat yleisurheilu-uutiset."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover object-[100%_35%] lg:object-[100%_30%] xl:object-[100%_25%]"
      src="/images/news.webp"
      alt="Seuran vakiotoimitsijat ajanotossa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pb-32 pt-16 text-center text-2xl text-white sm:pb-40 sm:pt-24 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pb-52 xl:pt-44"
    >
      Uutiset
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <section
      class="mx-auto my-8 max-w-7xl px-4 sm:my-12 sm:px-8 lg:my-16 lg:px-12"
    >
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Yleisurheilu-uutiset
        </h2>
        <p class="my-3 mb-4 text-xl text-gray-500 sm:mt-4">
          Lue tuoreimmat yleisurheilu-uutiset journalistimme Ilkka Simolan
          sanoittamina
        </p>
        <CreateNews client:only />
      </div>
      <div
        class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3"
      >
        {newsArray.map((news) => <NewsCard news={news} />)}
      </div>
      <PaginationNav
        url="/uutiset"
        pageCount={pageCount}
        currentPage={currentPage}
      />
    </section>
  </Fragment>
</Layout>
