---
import { Icon } from 'astro-icon';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <title>
      Laitilan Jyske | Yleisurheilu | Seuraennätykset | Uusi Ennätys
    </title>
    <meta property="og:title" content="Ilmoita uusi ennätys" />
    <meta
      name="description"
      content="Ilmoita uusi seuraennätys tai TOP10-tulos."
    />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, seuraennätykset, ennätykset, TOP10"
    />
    <meta
      property="og:image"
      content={new URL('/images/records.jpg', Astro.url)}
    />
    <meta
      property="og:description"
      content="Ilmoita uusi seuraennätys tai TOP10-tulos."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover"
      src="/images/records.jpg"
      alt="Seuracup mitali kaulassa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Ilmoita Uusi Ennätys
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <!-- CLUB RECORDS CARD -->
    <section
      class="mx-auto my-8 max-w-7xl px-4 sm:my-12 sm:px-8 lg:my-16 lg:px-12"
    >
      <div class="grid grid-cols-1 bg-white shadow-xl lg:grid-cols-3">
        <!-- CLUB RECORDS INFO -->
        <div
          class="relative overflow-hidden bg-gradient-to-b from-blue-600 to-blue-700 py-10 px-6 sm:px-10 xl:p-12"
        >
          <!-- DECORATION FOR MOBILES -->
          <Icon
            name="angle-sm"
            class="pointer-events-none absolute inset-0 h-full w-full sm:hidden"
          />
          <!-- DECORATION FOR TABLETS -->
          <Icon
            name="angle-md"
            class="pointer-events-none absolute inset-y-0 right-0 hidden h-full w-1/2 sm:block lg:hidden"
          />
          <!-- DECORATION FOR LAPTOPS -->
          <Icon
            name="angle-lg"
            class="pointer-events-none absolute inset-y-0 right-0 hidden w-1/2 lg:block"
          />

          <!-- CLUB RECORDS DESCRIPTION -->
          <h3 class="text-lg font-medium text-white">Uusi ennätys</h3>
          <p class="mt-4 text-blue-50">
            Ilmoita uusi ennätys tai TOP10-tulos oheisen lomakkeen avulla. Kun
            ennätyksen tiedot on tarkistettu, se lisätään seuraennätysten tai
            TOP10-tulosten luetteloon.
          </p>
          <p class="mt-4 text-blue-50">
            Aikuisten sarjoissa seuraennätyksiä huomioidaan pääasiassa
            arvokisojen ohjelmassa olevista henkilökohtaisista lajeista.
          </p>
          <p class="mt-4 text-blue-50">
            Lasten sarjoissa seuraennätyskelpoisia lajeja ovat
            <a
              class="text-blue-100 underline hover:text-white"
              href="https://www.yleisurheilu.fi/sites/default/files/atoms/files/lasten_lajit_2014_-.xls"
              >P/T15-9-sarjojen viralliset lajit
            </a>
          </p>
        </div>

        <!-- CLUB RECORDS FORM -->
        <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
          <h3 class="text-lg font-medium text-gray-900">Ilmoita uusi tulos</h3>
          <form action="#" method="POST">
            <!-- ATHLETE DATA -->
            <fieldset
              class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-3 sm:gap-x-8"
            >
              <legend class="mb-3 font-medium text-gray-800"
                >Urheilijan tiedot
              </legend>

              <!-- ATHLETE LEAGUE -->
              <label class="text-sm font-medium text-gray-700"
                >Sarja
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="league"
                    class="w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>

              <!-- ATHLETE NAME -->
              <label class="text-sm font-medium text-gray-700 sm:col-span-2">
                Nimi
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="athlete"
                    class="w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>
            </fieldset>

            <!-- COMPETION DATA -->
            <fieldset
              class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-6 sm:gap-x-8"
            >
              <legend class="mb-3 font-medium text-gray-700"
                >Kilpailun tiedot
              </legend>

              <!-- EVENT -->
              <label class="text-sm font-medium text-gray-700 sm:col-span-3"
                >Laji
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="event"
                    class="w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>

              <!-- RESULT -->
              <label class="text-sm font-medium text-gray-700 sm:col-span-3"
                >Tulos
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="result"
                    class="w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>

              <!-- DATE -->
              <label class="text-sm font-medium text-gray-700 sm:col-span-2"
                >Päivämäärä
                <div class="mt-1">
                  <input
                    required
                    type="date"
                    name="date"
                    class="w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>

              <!-- LOCATION -->
              <label class="text-sm font-medium text-gray-700 sm:col-span-4">
                Paikkakunta
                <div class="mt-1">
                  <input
                    required
                    type="text"
                    name="location"
                    class="w-full rounded-md border-gray-300 py-3 px-4 text-gray-700 shadow-sm focus:border-blue-500 focus:ring-blue-500"
                  />
                </div>
              </label>
            </fieldset>

            <!-- SUBMIT BUTTON -->
            <button
              type="submit"
              class="mt-6 w-full rounded-md bg-blue-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto"
              >Lähetä
            </button>
          </form>
        </div>
      </div>
    </section>
  </Fragment>
</Layout>
